@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #244d4d;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  background: #244d4d;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  background: #316868;
}

.header {
  padding: 2rem 9%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: #f6fbf6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  font-size: 2.5rem;
  color: #244d4d;
  font-weight: bolder;
}
.header .logo i {
  padding-right: 0.3rem;
}
.header .search-form {
  height: 5rem;
  width: 50rem;
  border-radius: 5rem;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 0.1rem solid #244d4d;
}
.header .search-form input {
  height: 100%;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  color: #244d4d;
  text-transform: none;
}
.header .search-form label {
  font-size: 2.5rem;
  padding-right: 1.7rem;
  cursor: pointer;
  color: #244d4d;
}
.header .search-form label:hover {
  color: #779;
}
.header .icons div {
  margin-left: 2rem;
  font-size: 2.5rem;
  cursor: pointer;
  color: #244d4d;
}
.header .icons div:hover {
  color: #779;
}

#search-btn {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
#closer {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  font-size: 5rem;
  cursor: pointer;
  z-index: 10000;
  color: #244d4d;
  animation: rotate 0.4s linear 0.4s backwards;
  display: none;
}
#closer:hover {
  color: #779;
}

.navbar {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.navbar.active {
  right: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: 0.4s linear;
}
.navbar a {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #244d4d;
}
.navbar a:hover {
  color: #779;
}

.shopping-cart {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 100vh;
  background: #fff;
  padding: 2rem;
  padding-top: 8rem;
  overflow-y: scroll;
}
.shopping-cart.active {
  right: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  transition: 0.4s linear;
}
.shopping-cart::-webkit-scrollbar {
  width: 1rem;
}
.shopping-cart::-webkit-scrollbar-track {
  background: #fff;
}
.shopping-cart::-webkit-scrollbar-thumb {
  background: #244d4d;
}
.shopping-cart .box {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.shopping-cart .box .fa-times {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #779;
  cursor: pointer;
}
.shopping-cart .box .fa-times:hover {
  color: #244d4d;
}
.shopping-cart .box img {
  height: 8rem;
}
.shopping-cart .box .content h3 {
  color: #244d4d;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}
.shopping-cart .box .content span {
  font-size: 1.5rem;
  color: #779;
}
.shopping-cart .box .content span.multipy {
  margin: 0 1rem;
}
.shopping-cart .total {
  text-align: center;
  font-size: 2rem;
  padding: 1rem 0;
}
.shopping-cart .total span {
  color: #244d4d;
}
.shopping-cart .btn {
  width: 100%;
  text-align: center;
}

.login-form {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 100vh;
  background: #fff;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form.active {
  right: 0;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);
  transition: 0.4s linear;
}
.login-form form {
  padding: 1.7rem;
  border: 0.1rem solid #244d4d;
}
.login-form form h3 {
  font-size: 2.2rem;
  padding-bottom: 1rem;
  color: #244d4d;
}
.login-form form .box {
  width: 100%;
  text-transform: none;
  font-size: 1.5rem;
  color: #244d4d;
  padding: 1rem 1.2rem;
  border: 0.1rem solid #244d4d;
  margin: 0.7rem 0;
}
.login-form form .remember {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.login-form form .remember label {
  padding: 1rem 0;
  cursor: pointer;
  font-size: 1.5rem;
  color: #779;
}
.login-form form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
.login-form form p {
  padding-top: 1rem;
  font-size: 1.4rem;
  color: #779;
}
.login-form form p a {
  color: #244d4d;
}
.login-form form p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
