@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; 
  padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

$green:#244d4d;
$white:#fff;
$light-color:#779;
$light-bg:#f6fbf6;
$border:.1rem solid $green;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
$dark-shadow:0 0 0 100vw rgba(0,0,0,.5);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;


  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $green;
  }
}

.header {
  padding: 2rem 9%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $light-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 2.5rem;
    color: $green;
    font-weight: bolder;

    i {
      padding-right: .3rem;
    }
  }

.search-form {
  height: 5rem;
  width: 50rem;
  border-radius: 5rem;
  background: $white;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: $border;

  input {
      height: 100%;
      width: 100%;
      padding: 0 1.2rem;
      font-size: 1.6rem;
      color: $green;
      text-transform: none;
    }

    label {
      font-size: 2.5rem;
      padding-right: 1.7rem;
      cursor: pointer;
      color: $green;

      &:hover {
        color: $light-color;
      }
    }
  }
} 