@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; 
  padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

$green:#244d4d;
$white:#fff;
$light-color:#779;
$light-bg:#f6fbf6;
$border:.1rem solid $green;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
$dark-shadow:0 0 0 100vw rgba(0,0,0,.5);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;


  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $green;
  }
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  background: $green;
  color: $white;
  cursor: pointer;

  &:hover {
    background: #316868;
  }
}

.header {
  padding: 2rem 9%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $light-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 2.5rem;
    color: $green;
    font-weight: bolder;

    i {
      padding-right: .3rem;
    }
  }

.search-form {
  height: 5rem;
  width: 50rem;
  border-radius: 5rem;
  background: $white;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: $border;

  input {
      height: 100%;
      width: 100%;
      padding: 0 1.2rem;
      font-size: 1.6rem;
      color: $green;
      text-transform: none;
    }

    label {
      font-size: 2.5rem;
      padding-right: 1.7rem;
      cursor: pointer;
      color: $green;

      &:hover {
        color: $light-color;
      }
    }
  }

  .icons div {
    margin-left: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    color: $green;

    &:hover {
      color: $light-color;
    }
  }
}

#search-btn {
  display: none;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

#closer {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  font-size: 5rem;
  cursor: pointer;
  z-index: 10000;
  color: $green;
  animation: rotate .4s linear .4s backwards;
  display: none;

  &:hover {
    color: $light-color;
  }
} 

.navbar {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 100vh;
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  &.active {
    right: 0;
    box-shadow: $box-shadow;
    transition: .4s linear;
  }

  a {
    margin: 1rem 0;
    font-size: 2.5rem;
    color: $green;

    &:hover {
      color: $light-color;
    }
  }
}

.shopping-cart {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 100vh;
  background: $white;
  padding: 2rem;
  padding-top: 8rem;
  overflow-y: scroll;

  &.active {
    right: 0;
    box-shadow: $dark-shadow;
    transition: .4s linear;
  }

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $green;
  }

  .box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    margin-bottom: 1rem;

    .fa-times {
      position: absolute;
      top: 50%;
      right: 2rem;
      transform: translateY(-50%);
      font-size: 2rem;
      color: $light-color;
      cursor: pointer;

      &:hover {
        color: $green;
      }
    }

    img {
      height: 8rem;
    }

    .content {
      h3 {
        color: $green;
        font-size: 1.8rem;
        padding-bottom: .5rem;
      }

      span {
        font-size: 1.5rem;
        color: $light-color;

        &.multipy {
          margin: 0 1rem;
        }
      }
    }
  }

  .total {
    text-align: center;
    font-size: 2rem;
    padding: 1rem 0;

    span {
      color: $green;
    }
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}


.login-form {
  position: fixed;
  top: 0;
  right: -101%;
  z-index: 1000;
  width: 35rem;
  height: 100vh;
  background: $white;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;


  &.active {
    right: 0;
    box-shadow: $dark-shadow;
    transition: .4s linear;
  }

  form {
    padding: 1.7rem;
    border: $border;

    h3{
      font-size: 2.2rem;
      padding-bottom: 1rem;
      color: $green;
    }

    .box {
      width: 100%;
      text-transform: none;
      font-size: 1.5rem;
      color: $green;
      padding: 1rem 1.2rem;
      border: $border;
      margin: .7rem 0;
    }

    .remember {
      display: flex;
      align-items: center;
      gap: .5rem;

      label {
        padding: 1rem 0;
        cursor: pointer;
        font-size: 1.5rem;
        color: $light-color;
      }
    }

    .btn {
      margin: 1rem 0;
      width: 100%;
      text-align: center;
    }

    p {
      padding-top: 1rem;
      font-size: 1.4rem;
      color: $light-color;

      a {
        color: $green;

        &:hover {
          text-decoration: underline;
        }
      }
     }
  }
}

.home {
  position: relative;

  .slides-container .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    display: none;

    &.active {
      display: flex;
    }

    .content {
      flex: 1 1 40rem;

      span {
        font-size: 2.5rem;
        color: $light-color;
      }

      h3 {
        font-size: 6rem;
        color: $green;
        padding-top: .5rem;
      }

      p {
        font-size: 1.5rem;
        color: $light-color;
        padding: .5rem 0;
        line-height: 2;
      }
    }

    .image {
      flex: 1 1 40rem;

      img {
        width: 100%;
      }
    }
  }

  #slide-next,
  #slide-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    box-shadow: $box-shadow;
    border: $border;
    text-align: center;
    background: $white;
    cursor: pointer;

    &:hover {
      background: $green;
      color: $white;
    }
  }
}

.footer {
  background-color: $light-bg;

  .box-container {
    @include grid(25rem);

    .box {
      h3 {
        font-size: 2.2rem;
        color: $green;
        padding: 1rem 0;
      }

      p {
        font-size: 1.6rem;
        color: $light-color;
        padding-bottom: 1rem;
      }

      a {
        font-size: 1.4rem;
        color: $light-color;
        padding: 1rem 0;
        display: block;

        &:hover {
          color: $green;

          i {
            padding-right: 2rem;
          }
        }

        i {
          padding-right: .5rem;
          color: $green;
        }
      }

      form input[type="email"]{
        width: 100%;
        padding: 1rem 1.2rem;
        font-size: 1.6rem;
        color: $green;
        text-transform: none;
        margin: .7rem 0;
        border: $border;
      }
    }
  }
}

.credit {
  text-align: center;
  font-size: 2rem;
  color: $white;
  background: $green;
}





//Media Queries Responsividade
@media (max-width:991px){

  html{
    font-size: 55%;
  }

  .header {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width:768px){
  #search-btn {
    display: inline-block;
  }

  .header {
    .search-form {
      position: absolute;
      top: -101%;
      left: 0;
      right: 0;
      width: 100%;
      border-radius: 0;
      border-left: 0;
      border-right: 0;

      &.active {
        top: 99%;
      }
    }
  }

}

@media (max-width:450px){

  html{
    font-size: 50%;
  }
}